@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #ffffff;
  color: #333;
  font-family: "Nunito";
}

 
/* Optimize Performance - Provides a rendering hint to the user agent, stating what kinds of changes the author expects to perform on the element. */
.class-name {
  will-change: transform;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer a {
  margin-left: 12px;
  margin-right: 12px;
}

footer a:hover {
  color: darkblue;
  text-decoration: underline;
}
