@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  /* background: linear-gradient(#f2f2f2, #4979ff); */
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}

/* color for every anchor tag */
a {
  color: #333;
  text-decoration: none;                    /* remove underline from links */
}

/* inside Layout.js <div className="content> */
.content {
  max-width: 960px;
  margin: 0 auto;
}

/* inside Layout.js > Navbar component <nav>, which wraps component */
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid black;
}

/* anchor tags inside nav */
nav a {
  margin-left: 12px;
}

/* Navbar.js <div content="logo"> */
nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer a {
  margin-left: 12px;
  margin-right: 12px;
}

footer a:hover {
  color: darkblue;
  text-decoration: underline;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}